/* .ancho500PanelSelect {
    min-width: 500px !important;
  }
  
  .ancho600PanelSelect {
    min-width: 600px !important;
  }  */
  
.container{
  height: 84.5vh; 
  border: 1px;
  box-sizing: border-box;
  margin-top: 2%;
  margin-left: 15%;
  justify-content: center; 
  align-items: center; 
  width: 100vw; 
  line-height: 18px;
 
}